h3 {
    text-align: center;
    padding: 1.7em;
    font-weight: lighter;
    font-size: 1.1rem;
}

h3::before {
    content: '<  ';
    color: $main_color;
}

h3::after {
    content: '  >';
    color: $main_color;
}

ul li {
    list-style-type: none;
}

section h1::before {
    content: '';
    border-left: 5px solid $main_color;
    margin: 1rem;
}

section {
    position: relative;

    p {
        font-size: 20px;
        padding: 2.5rem;
    }

    h1 {
        padding: 2em 0 0 1em;
        font-size: 1.8rem;
    }
}

#about,
#portfolio,
#contact {
    background: #bbb9b9;
}

a {
    color: $color-black;
}