.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 10px solid $second_color-light;
    object-fit: fill;
}

.social-links {
    text-align: center;
    padding: 1rem 2rem;

    img {
        display: block;
        color: $color-white;
        margin: 0 auto;
        transform: translate(0, 43%);

        width: 1.65rem;
        height: 1.65rem;
    }

    a {
        display: inline-block;
        background-color: $color-white-dark;

        width: 3rem;
        height: 3rem;

        border-radius: 50%;
        margin-right: .5rem;

        transition: all .3s linear;

        &:hover {
            background-color: $second_color;
        }

    }
}