#hamburger-menu {
    height: 0;
}

.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    left: -100%;
    top: 0;
  
    width: 20%;
    height: 100%;
  
    margin: 0;
    padding: 20px 20px;
    text-align:center;
  
    list-style: none;
    z-index: 1;
  
    background-color: $second_color;
    box-shadow: 1px 0px 6px rgba($color-black, .2);
  
    transition-duration: .25s;
    -webkit-font-smoothing: antialiased;

    @include respond(phone)  {
        width: 100%;
        padding: 20px 0;
    }
    @include respond(tab-port)  {
        width: 15rem;
        padding: 20px 0;
    }
    @include respond(desktop)  {
        width: 20rem;
        padding: 20px 0;
    }



}